.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}

.Meaning .Example {
  font-size: 14px;
  opacity: 0.8;
  font-style: italic;
  color: #980f5a;
  margin: 10px 0;
}
